<h1>اضافة يوم همة جديد</h1>
<section>
    <div class="wizard">
        <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="" ng-class="'active':addEventPrincipleData.$valid || !addEventPrincipleData.$valid">
                    <a ng-click="ScrollTo(1)" data-toggle="tab" aria-controls="step1" role="tab" title="اتمام ادخال البيانات الاساسية ليوم الهمة">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-folder-open"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation"  ng-class="'active':addEventPrincipleData.$valid,'disabled':!addEventPrincipleData.$valid">
                    <a ng-click="ScrollTo(2)" data-toggle="tab" aria-controls="step2" role="tab" title="اتمام ادخال برنامج يوم الهمة" ng-disabled="!addEventPrincipleData.$valid">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" ng-class="'active':addEventPrincipleData.$valid && addEventProgram.$valid,'disabled':!addEventPrincipleData.$valid || !addEventProgram.$valid">
                    <a ng-click="ScrollTo(3)" data-toggle="tab" aria-controls="complete" role="tab" title="ادخال الخطة اليومية" ng-disabled="!addEventPrincipleData.$valid || !addEventProgram.$valid">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
    <div class="panel panel-primary font-md" id="anchor1">
        <form name="addEventPrincipleData" novalidate>
            <div class="panel panel-primary font-lg" ng-init="ShowEventinfo=false" ng-click="ShowEventinfo=!ShowEventinfo">
                <div class="panel-heading">يوم الهمة الموعد والمكان</div>
            </div>
            <div class="panel-body" ng-show="ShowEventinfo">
                <div class="input-group input-group-md col-md-12">
                    <span class="input-group-addon" id="sizing-addon1">اسم يوم الهمة</span>
                    <input type="text" class="form-control" placeholder="ادخل اسم الحدث" name="eventName" required ng-model="obj.HemmaEventAr" aria-describedby="sizing-addon1">
                    <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('addEventPrincipleData','eventName', 'required')">من فضلك ادخل اسم الحدث</span>
                    <span class="input-group-addon" id="sizing-addon1">مكان يوم الهمة</span>
                    <input type="text" class="form-control" placeholder="ادخل مكان المقام بيه الحدث" name="eventPlace" required ng-model="obj.Place" aria-describedby="sizing-addon1">
                    <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('addEventPrincipleData','eventPlace', 'required')">ممن فضلك ادخل مكان الحدث</span>
                </div>
                <div class="input-group input-group-md col-md-6">
                    <span class="input-group-addon" id="sizing-addon1">بداية الحدث</span>
                    <input type="text" id="popupDatePicker" name="fromDatePicker" class="is-calendarPicker  text-primary" ng-model='eventDate.from'
                           calendarType="ummalqura"
                           language="ar"
                           dateFormat="MM dd, yyyy"
                           showOnFocus="true"
                           required
                           placeholder="اختر تاريخ بداية الحدث "
                           kdatepicker />
                </div>
                <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('addEventPrincipleData','fromDatePicker', 'required')">مطلوب اختيار بداية الحدث</span>
                <div class="input-group input-group-md col-md-6">
                    <span class="input-group-addon" id="sizing-addon1">نهاية الحدث </span>
                    <input type="text" id="popupDatePicker" name="toDatePicker" class="is-calendarPicker  text-primary" ng-model='eventDate.to'
                           calendarType="ummalqura"
                           language="ar"
                           dateFormat="MM dd, yyyy"
                           showOnFocus="true"
                           placeholder="اختر تاريخ نهاية الحدث "
                           kdatepicker />

                </div>
                <span id="url2-error" class="font-red-mint error row" ng-show="validateDate(eventDate.from,eventDate.to,'to')">{{ErrorMessage}}</span>
                <div class="input-group input-group-md row col-md-6">
                    <span style="font-size: 36px" class="label label-success label-as-badge">عدد الأيام:[{{countNumberOfDate(eventDate.from,eventDate.to)}}] </span>
                </div>
                <div class="input-group input-group-md col-md-6">
                    <button class="btn default btn-lg" ng-click="SavePricipleData()">حفظ واستكمال التسجيل</button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-primary font-md" id="anchor2">
        <div class="panel panel-primary font-lg" ng-init="ShowEventProgramData=false" ng-click="ShowEventProgramData=!ShowEventProgramData">
            <div class="panel-heading">فروع برنامج يوم الهمة</div>
        </div>
        <div class="panel-body" ng-show="ShowEventProgramData && addEventPrincipleData.$valid ">
            <form name="addEventProgram" novalidate>
                <table class="table ng-table-responsive table-bordered table-striped col-md-12">
                    <thead class="text-primary">
                        <tr>
                            <th class="col-md-2">فروع البرنامج</th>
                            <th class="col-md-2">مقدار</th>
                            <th class="col-md-2"> الكمية</th>
                            <th class="col-md-2">من</th>
                            <th class="col-md-2">الي</th>
                            <th class="col-md-2">الغاء </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="EventProgramobj in EventProgram track by $index">
                            <td class="col-xs-2">
                                <input type="text" required name="ProgramName{{$index}}" placeholder="اسم الفرع" ng-model="EventProgramobj.ProgramName" class="col-xs-12 text-primary" />
                                <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('addEventProgram','ProgramName'+{{$index}}, 'required')">مطلوب اسم الفرع</span>
                            </td>
                            <td class="col-xs-2">
                                <input type="number" ng-restrict="^[0-9]" required name="ProgramQuantity{{$index}}" placeholder="عدد الاجزاء" ng-model="EventProgramobj.ProgramQuantity" class="col-xs-12 text-primary" min="0" max="114" />
                                <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('addEventProgram','ProgramQuantity'+{{$index}}, 'required')">مطلوب ادخال عدد الاجزاء</span>
                            </td>
                            <td class="col-xs-2">
                                <input type="number" ng-restrict="^[0-9]" required name="ProgramQuantityUnit{{$index}}" placeholder="عدد الاوجه" ng-model="EventProgramobj.ProgramQuantityUnit" class="col-xs-12 text-primary" min="0" max="GetMaxPage(EventProgramobj)" />
                                <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('addEventProgram','ProgramQuantityUnit'+{{$index}}, 'required')">مطلوب ادخال عدد الاوجة </span>
                                <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('addEventProgram','ProgramQuantityUnit'+{{$index}}, 'max')">ارجوا مراجعة عدد الوجة بعدد الجزاء</span>
                            </td>

                            <td class="col-xs-2">
                                <ui-select ng-model="EventProgramobj.ProgramVerseTo" ng-change="MenueSelection(EventProgramobj.ProgramVerseTo)" theme="bootstrap" ng-required="true" name="ProgramVerseTo{{$index}}">
                                    <ui-select-match placeholder="من سورة">{{$select.selected.VersesAr}}</ui-select-match>
                                    <ui-select-choices repeat="quantity.VerseID as quantity in FromQuantities| filter: {VersesAr:$select.search}">
                                        <div>
                                            <small ng-bind-html="quantity.VersesAr  | highlight: $select.search"></small>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('addEventProgram','ProgramVerseTo'+{{$index}}, 'required')">مطلوب اختيار من سورة</span>
                            </td>
                            <td class="col-xs-2">
                                <ui-select ng-model="EventProgramobj.ProgramVerseFrom" ng-change="MenueSelection2(EventProgramobj.ProgramVerseFrom)" theme="bootstrap" ng-required="true" name="ProgramVerseFrom{{$index}}">
                                    <ui-select-match placeholder="الي سورة">{{$select.selected.VersesAr}}</ui-select-match>
                                    <ui-select-choices repeat="quantity.VerseID as quantity in ToQuntities| filter: {VersesAr:$select.search}">
                                        <div>
                                            <small ng-bind-html="quantity.VersesAr  | highlight: $select.search"></small>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('addEventProgram','ProgramVerseFrom'+{{$index}}, 'required')">مطلوب اختيار الي السورة</span>
                            </td>
                            <td class="col-xs-2"><a href="#" ng-click="removeRecord('EventProgram',$index)" ng-hide="hideRemoveButton"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                        <tr>
                            <td class="col-md-2" colspan="6"><a href="#" ng-click="AddRecord('EventProgram',10)" ng-hide="hideAddButton"><span class="glyphicon glyphicon-plus"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="panel panel-primary font-lg" id="anchor3">
        <div class="panel panel-primary font-lg" ng-click="CheckValidDatewhenClick()">
            <div class="panel-heading">الجدول الزمني  ليوم الهمة</div>
        </div>
        <div class="panel-body" ng-show="ShowEventPlanData && addEventPrincipleData.$valid && validDateFlag">
            <form name="AddProgramPlane" novalidate>
                <uib-tabset active="active">
                    <uib-tab index="$index" ng-repeat="DayPlan in EventPlane track by $index" ng-init="parentOrder=$index" heading="{{DayOrderEnum[$index+1]}}">
                        <div class="">
                            <table class="table ng-table-responsive table-bordered table-striped col-md-12">

                                <thead class="text-primary">
                                    <tr>
                                        <th class="col-md-2">رقم</th>
                                        <th class="col-md-2">الفقرة</th>
                                        <th class="col-md-2"> المقدم</th>
                                        <th class="col-md-2">من</th>
                                        <th class="col-md-2">الي</th>
                                        <th class="col-md-2">ملحوظات</th>
                                        <th class="col-md-2">الغاء </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="record in DayPlan.HemmaEventPlane track by $index">

                                        <td class="col-md-1"><span class="font-blue">{{$index+1}}</span></td>
                                        <td class="col-md-2">
                                            <input type="text" name="{{parentOrder}}PlaneAgenda{{$index}}" placeholder="اسم الفقرة" ng-model="record.Agenda" class="font-blue col-xs-12" ng-required="true" />{{parentOrder+'-'+$index}}
                                            <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError1('AddProgramPlane',{{parentOrder}}+'PlaneAgenda'+{{$index}}, 'required')">مطلوب اسم الفقرة</span>
                                        </td>
                                        <td class="col-md-2">
                                            <input type="text" placeholder="اسم المقدم" name="{{parentOrder}}PlanePresenter{{$index}}" ng-model="record.Presenter" class="font-blue col-xs-12" ng-required="true" />
                                            <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError1('AddProgramPlane',{{parentOrder}}+'PlanePresenter'+{{$index}}, 'required')">مطلوب اسم المقدم الفقرة</span>
                                        </td>
                                        <td class="col-md-2">
                                            <uib-timepicker class="col-md-6" name="{{parentOrder}}FromTime{{$index}}" ng-model="record.FromTime" minute-step="5" hour-step="1" ng-required="true"></uib-timepicker>
                                            <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError1('AddProgramPlane',{{parentOrder}}+'FromTime'+{{$index}}, 'required')">مطلوب اختيار الوقت</span>

                                        </td>
                                        <td class="col-md-2">
                                            <uib-timepicker class="col-md-6" name="{{parentOrder}}ToTime{{$index}}" ng-model="record.ToTime" minute-step="5" hour-step="1" show-meridian="true" ng-required="true"></uib-timepicker>
                                            <p>{{record.ToTime| date:'short'}}</p>
                                            <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError1('AddProgramPlane',{{parentOrder}}+'ToTime'+{{$index}}, 'required')">مطلوب اختيار الوقت</span>

                                        </td>
                                        <td class="col-xs-2">
                                            <input type="text" placeholder="ملحوظات" name="{{parentOrder}}PlaneNote{{$index}}" class="font-blue col-xs-12" ng-model="record.Note" />
                                        </td>
                                        <td class="col-xs-2">
                                            <input type="hidden" class="font-blue col-xs-12" ng-hide="true" ng-model="record.AgendaIndex" ng-init="record.AgendaIndex=$index+1" />
                                            <input type="hidden" class="font-blue col-xs-12" ng-hide="true" ng-model="record.EventDate" ng-init="record.EventDate=DayPlan.EventDate" />
                                            <input type="hidden" class="font-blue col-xs-12" ng-hide="true" ng-model="record.EventDateHijri" ng-init="record.EventDateHijri=DayPlan.EventHijriDate" />
                                            <a href="#" ng-hide="hideRemovePlaneButton" ng-click="removePlaneRecord('EventPlane',parentOrder,$index)"><span class="glyphicon glyphicon-remove"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-2" colspan="6"><a ng-hide="hideAddPlaneButton" href="#" ng-click="AddPlaneRecord('EventPlane',5,parentOrder)"><span class="glyphicon glyphicon-plus"></span></a></td>
                                    </tr>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </form>
        </div>
    </div>
    <div class="row">
        <input type="button" class="btn-primary col-md-2" ng-click="sumbit()" value="حفظ" />
    </div>
