<h2>Admin profile</h2>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet ">
                <!-- SIDEBAR USERPIC -->
                <div>
                    <img style="width:200px; height:150px;" class="img-responsive thumbnail" src="{{URL}}{{enterpriseInfo.Logo}}" onerror="this.src = 'http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image'" alt="صورة الشعار" />
                    
                    <!--<img class="img-responsive thumbnail" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="صورة الشعار" />-->
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> اسم الدار </div>
                    <!--<div class="profile-usertitle-job"> Developer </div>-->
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <!--<div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle red btn-sm">Message</button>
                </div>-->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <!--<div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="page_user_profile_1.html">
                                <i class="icon-home"></i> Overview
                            </a>
                        </li>
                        <li class="active">
                            <a href="page_user_profile_1_account.html">
                                <i class="icon-settings"></i> Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="page_user_profile_1_help.html">
                                <i class="icon-info"></i> Help
                            </a>
                        </li>
                    </ul>
                </div>-->
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light ">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 37 </div>
                        <div class="uppercase profile-stat-text"> عدد الايام الهمة </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 51 </div>
                        <div class="uppercase profile-stat-text"> عدد الطلبة المتقدمين </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 61 </div>
                        <div class="uppercase profile-stat-text"> Uploads </div>
                    </div>-->
                </div>
                <!-- END STAT -->
                <div>
                    <h4 class="profile-desc-title">مزاقع التواصل</h4>
                    <!--<span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>-->
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-globe"></i>
                        <a href="http://www.keenthemes.com">www.keenthemes.com</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-facebook"></i>
                        <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                    </div>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">حساب الملف الشخصي</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a ng-click="ShowTabs('PersonalInfo')" data-toggle="tab">بيانات اساسية</a>
                                </li>
                                <li>
                                    <a ng-click="ShowTabs('ChangeImg')" data-toggle="tab">تغير الصورة</a>
                                </li>
                                <li>
                                    <a ng-click="ShowTabs('ChangePassword')" data-toggle="tab" ng-class="{'disabled':DisabledAccount}">تغير بيانات المرور</a>
                                </li>
                                <!--<li>
                                    <a href="#/EnterpriseProfile/PersonalInfo" data-toggle="tab">Privacy Settings</a>
                                </li>-->
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" ng-class="{'active':personalInfoFlag==true}" id="tab_1_1" ng-show="personalInfoFlag==true">
                                    <form role="form" name="EnterpriseInfo" novalidate>
                                        <!--<div class="row">
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" ng-model="newEnterpriseObj.UserName" class="form-control" name="entrpriseName1" placeholder="ادخل اسم المستخدم ......" required ng-minlength="3" ng-maxlength="100">
                                                    <label for="form_control_1">اسم المستخدم<span class="font-red-mint">*</span></label>

                                                </div>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(EnterpriseInfo,'entrpriseName1', 'required' )">مطلوب ادخال اسم المستخدم</span>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(EnterpriseInfo,'entrpriseName1', 'minlength' )">مطلوب ادخال اسم لا يقل عن ثلاث حروف </span>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(EnterpriseInfo,'entrpriseName1', 'maxlength' )">مطلوب ادخال اسم لا يزيد عن مئة حرف </span>
                                            </div>
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" ng-model="newEnterpriseObj.PhoneNumber" class="form-control" name="enterprisePhoneNumber1" placeholder="ادخل رقم الجوال ......" required>
                                                    <label for="form_control_1">رقم الجوال<span class="font-red-mint">*</span></label>
                                                </div>
                                                <span id="url2-error" class="error font-red-mint" ng-show="edit && hasError(EnterpriseInfo,'enterprisePhoneNumber1', 'required' )">مطلوب إدخال رقم الجوال</span>
                                            </div>
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="email" ng-model="newEnterpriseObj.UserEmail" class="form-control" name="enterpriseEmail1" placeholder="ادخل البريد الالكتروني ......" required autocomplete="email">
                                                    <label for="form_control_1">البريد الالكتروني<span class="font-red-mint">*</span></label>

                                                </div>
                                                <span id="url2-error" class="error font-red-mint" ng-show="edit && hasError(EnterpriseInfo,'enterpriseEmail1', 'required' )">مطلوب إدخال البريد الالكتروني</span>
                                                <span id="url2-error" class="error font-red-mint" ng-show="edit && hasError(EnterpriseInfo,'enterpriseEmail1', 'email' )">  البريد الالكتروني غير  مطابق للتنسيق مثال :example@gmail.com </span>
                                            </div>
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="password" ng-model="newEnterpriseObj.UserPassword" class="form-control" name="enterprisePassword1" placeholder="ادخل رقم الهوية ......" required ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="current-password">
                                                    <label for="form_control_1">ادخل كلمة المرور<span class="font-red-mint">*</span></label>

                                                </div>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(EnterpriseInfo,'enterprisePassword1', 'required' )">مطلوب إدخال كلمة المرور</span>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(EnterpriseInfo,'enterprisePassword1', 'pattern' )">كلمة المرور عبارة عن احرف انجليزية تحتوي علي ارقام وحروف كبيرة وصغيرة ولا تقل عن 6 احرف مثال:Hemma123 </span>
                                            </div>
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="password" ng-model="newEnterpriseObj.ConfirmPassword" class="form-control" name="enterpriseConfirmPassword1" placeholder="ادخل كلمة المرور ......" required ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="new-password" compare-to="newEnterpriseObj.UserPassword">
                                                    <label for="form_control_1">تاكيد كلمة المرور<span class="font-red-mint">*</span></label>

                                                </div>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(EnterpriseInfo,'enterpriseConfirmPassword1', 'required' )">مطلوب إدخال تاكيد كلمة المرور</span>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(EnterpriseInfo,'enterpriseConfirmPassword1', 'pattern' )">كلمة المرور يجب ان تحتوي علي الاقل حرف كبير  و حرف صغير و رقم ولا تقل عن ستة احرف </span>
                                                <span id="url2-error" class="font-red-mint error" ng-show="hasError(addEnterpriseForm,'enterpriseConfirmPassword', 'compareTo' )">تاكيد كلمة المرور غير مطابقة لكلمة المرور الاصلية </span>
                                            </div>
                                        </div>-->
                                        <!--<div class="margiv-top-10">
                                            <a href="javascript:;" class="btn green" ng-hide="DisabledAccount"> Save Changes </a>
                                            <a href="javascript:;" class="btn default"> Cancel </a>
                                        </div>-->
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <!-- CHANGE AVATAR TAB -->
                                <div class="tab-pane" id="tab_1_2" ng-class="{'active':changeImgFlag==true}" ng-show="changeImgFlag==true">
                                    <p>
                                   يمكنك إضافة صورة الشعار الخاص بالمؤسسة كما يمكنك تعديله  
                                    </p>
                                    <form  role="form" name="logoInfo">
                                        <div class="form-group">
                                            <div class="col-xs-12 col-md-9 col-lg-9 text-center">
                                                <div id="dp" class="dropzone" style="width:250px; height:200px;" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
                                                <!--<p class="font-red-mint error" ng-show="validImg">{{'products.extensionerror'|translate}} </p>-->
                                            </div>
                                            <div class="row alert-danger col-md-10 clearfix margin-top-10 col-xs-12">
                                                <span> الصورة يجب ان تكون بإمتدد <span> (.jpg , .png) </span>و الا تقل ابعادهاعن<span> 250*250px </span></span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10 col-xs-12">
                                            <a ng-click="editLogoInfo()" class="btn green">تعديل صور الشعار </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END CHANGE AVATAR TAB -->
                                <!-- CHANGE PASSWORD TAB -->
                                <form novalidate name="AccountInfoForm">
                                    <div class="tab-pane" id="tab_1_3" ng-class="{'active':changeAccountInfoFlag==true}" ng-show="changeAccountInfoFlag==true">
                                        <div class="row">
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" ng-model="editAcccount.UserName" class="form-control" name="editAcccountUserName" placeholder="ادخل اسم المستخدم ......" required ng-minlength="3" ng-maxlength="100">
                                                    <label for="form_control_1">اسم المستخدم<span class="font-red-mint">*</span></label>

                                                </div>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(AccountInfoForm,'editAcccountUserName', 'required' )">مطلوب ادخال اسم الدار</span>
                                                <!--<span id="url2-error" class="font-red-mint error" ng-show="hasError(addEnterpriseForm,'entrpriseName', 'pattern' )">مطلوب ادخال حروف فقط بدون ارقام </span>-->
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(AccountInfoForm,'editAcccountUserName', 'minlength' )">مطلوب ادخال اسم لا يقل عن ثلاث حروف </span>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(AccountInfoForm,'editAcccountUserName', 'maxlength' )">مطلوب ادخال اسم لا يزيد عن مئة حرف </span>
                                            </div>
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="email" ng-model="editAcccount.UserEmail" class="form-control" name="editAcccountEmail" placeholder="ادخل البريد الالكتروني ......" required autocomplete="email">
                                                    <label for="form_control_1">البريد الالكتروني<span class="font-red-mint">*</span></label>

                                                </div>
                                                <span id="url2-error" class="error font-red-mint" ng-show="edit3 && hasError(AccountInfoForm,'editAcccountEmail', 'required' )">مطلوب إدخال البريد الالكتروني</span>
                                                <span id="url2-error" class="error font-red-mint" ng-show="edit3 && hasError(AccountInfoForm,'editAcccountEmail', 'email' )">  البريد الالكتروني غير  مطابق للتنسيق مثال :example@gmail.com </span>
                                            </div>
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" ng-model="editAcccount.PhoneNumber" class="form-control" name="editAcccountPhoneNumber" placeholder="ادخل رقم الجوال ......" required>
                                                    <label for="form_control_1">رقم الجوال<span class="font-red-mint">*</span></label>
                                                </div>
                                                <span id="url2-error" class="error font-red-mint" ng-show="edit3 && hasError(AccountInfoForm,'editAcccountPhoneNumber', 'required' )">مطلوب إدخال رقم الجوال</span>
                                            </div>
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="password" ng-model="editAcccount.UserPassword" class="form-control" name="editAcccountPassword" placeholder="ادخل رقم الهوية ......" required ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="current-password">
                                                    <label for="form_control_1">ادخل كلمة المرورالجديدة <span class="font-red-mint">*</span></label>

                                                </div>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit3 && hasError(AccountInfoForm,'editAcccountPassword', 'required' )">مطلوب إدخال كلمة المرور</span>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit3 && hasError(AccountInfoForm,'editAcccountPassword', 'pattern' )">كلمة المرور عبارة عن احرف انجليزية تحتوي علي ارقام وحروف كبيرة وصغيرة ولا تقل عن 6 احرف مثال:Hemma123 </span>
                                            </div>
                                            <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                                                <div class="input-group col-xs-12">
                                                    <input type="password" ng-model="editAcccount.ConfirmPassword" class="form-control" name="editAcccountConfirmPassword" placeholder="ادخل كلمة المرور ......" required ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="new-password" compare-to="editAcccount.UserPassword">
                                                    <label for="form_control_1">تاكيد كلمة المرور الجديدة<span class="font-red-mint">*</span></label>

                                                </div>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit3 && hasError(AccountInfoForm,'editAcccountConfirmPassword', 'required' )">مطلوب إدخال تاكيد كلمة المرور</span>
                                                <span id="url2-error" class="font-red-mint error" ng-show="edit3 && hasError(AccountInfoForm,'editAcccountConfirmPassword', 'pattern' )">كلمة المرور يجب ان تحتوي علي الاقل حرف كبير  و حرف صغير و رقم ولا تقل عن ستة احرف </span>
                                                <span id="url2-error" class="font-red-mint error" ng-show="hasError(AccountInfoForm,'editAcccountConfirmPassword', 'compareTo' )">تاكيد كلمة المرور غير مطابقة لكلمة المرور الاصلية </span>
                                            </div>
                                        </div>
                                        <div class="margin-top-10">
                                            <button ng-click="editAccountInfo(AccountInfoForm,editAcccount)" ng-disabled="DisabledUpdateAccountBtn" class="btn green" ng-hide="DisabledAccountTab">تعديل حساب الدخول </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- END PRIVACY SETTINGS TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="SuccessPopUp()"> ShowCorrect pop up</button>
        <button ng-click="ErrorPopUp()">Show error pop up</button>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
