
.ui-select-bootstrap .ui-select-toggle > .caret {
     position: absolute;
   right: initial!important;
   left: 10px; /* or any other value - it should be the same as the original right value */
    margin-top: -2px;
}


.ui-select-bootstrap > .ui-select-match > .btn {
   
    direction: rtl;
 }


 .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
     float: right !important;
 }
 .registerModel .modal-content{
     width:250px;
     height:250px;
 }
 .close {display: none;}
.footerBtn{
    margin-right: 21px;
}
.modelBody{
        margin-right: -9px;
}
