
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">البرنامج</span>
                </div>
            </div>
            <div class="portlet-body">
                  <p>
                هو برنامج يهدف الى  تقوية ومراجعة المحفوظ من الطلاب واستغلال اوقات الطلاب بما يعود بالنفع والفائدة عليهم وتكوين معيار لضبط الكحفزظ من خلال القدرة على عرضه فى جلسة واحدة متصلة والعناية بالطلاب المتميزين بالحلقات
                هو برنامج يهدف الى  تقوية ومراجعة المحفوظ من الطلاب واستغلال اوقات الطلاب بما يعود بالنفع والفائدة عليهم وتكوين معيار لضبط الكحفزظ من خلال القدرة على عرضه فى جلسة واحدة متصلة والعناية
                هو برنامج يهدف الى  تقوية ومراجعة المحفوظ من الطلاب واستغلال اوقات الطلاب بما يعود بالنفع والفائدة عليهم وتكوين معيار لضبط الكحفزظ من خلال القدرة على عرضه فى جلسة واحدة متصلة والعناية
            </p>
                
            </div>
        </div>
    </div>
</div>