<div class="row">
<div class="col-md-12">
    <div class="portlet light">
        <div class="portlet-body form">

            <div class="jumbotron text-center">
                <h1>  اهلا ومرحبا بكم في موقع الهمة لمراجعة وضبط كتاب الله</h1>
                <br />
                <p>
                    نشكركم لاستخدام موقعنا
                </p>
                <p> من فضل انتظر موافقة إدارة الموقع علي تسجيلكم حيث سيرسل اليك بريد الكتروني  يمكنك بعدها الدخول كمستخدم نشط</p>

            </div>
            <br />
        </div>
    </div>
</div>
</div>


       