
<!--/banner-bottom-->
<!--<div class="w3_agilits_banner_bootm">
    <div class="w3_agilits_inner_bottom">
        <div class="container">
            <div class="wthree_agile_login">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 009 455 4088</li>
                    <li><i class="fa fa-envelope-o list-icon" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>-->
<!--//banner-bottom-->
<!--/banner-section-->
<div class="testPadding">
    <div id="demo-1" data-zs-src='["images/b1.jpg","images/6.jpg","images/b2.jpg","images/b3.jpg","images/b4.jpg"]' data-zs-overlay="dots">
        <div class="demo-inner-content">
            <!--/header-w3l-->
            <!--<div class="header-w3-agileits" id="home">
                <div class="inner-header-agile">
                    <div class="container">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <img src="assets/images/logo.png" alt="ph">
                            </div>
                             navbar-header
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html">الرئيسية </a></li>
                                    <li><a href="#about" class="scroll">حول اليوم </a></li>
                                    <li><a href="#agileits-services" class="scroll">فروع البرنامج</a></li>
                                    <li><a href="#portfolio" class="scroll">الصور </a></li>
                                    <li><a href="#portfolio" class="scroll" ng-click="OpenLoginModel(false,undefined,true)">تسجيل دخول </a></li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </nav>
                    </div>
                </div>

            </div>-->
            <!--//header-w3l-->
            <!--/banner-info-->
            <div class="baner-info">
                <h3>أهلأ بك فى  <span> يوم الهمة </span> لمراجعة القران الكريم </h3>
                <p>وَفِي ذَٰلِكَ فَلْيَتَنَافَسِ الْمُتَنَافِسُونَ (26) </p>
            </div>
            <!--/banner-ingo-->
        </div>
    </div>
</div>

<!--/banner-section-->
<!--about -->
<div id="about" class="wthree-about w3ls-section portlet-body">
    <div class="container">
        <div class="agileits-banner-grids text-center">
            <div class="banner-bottom-girds">
                <div class="agileits-banner-grid bg-w3ls-active">
                    <span class="fa fa-graduation-cap banner-icon" aria-hidden="true"></span>
                    <h4> طالب </h4>
                    <p>
                        يمكنك الان الالتحاق بيوم الهمة من اي مكان بالمملكة <br>
                        قم بالتسجيل الآن كي تستطيع اللحاق بنا
                    </p>
                    <a class="hvr-rectangle-out w3_play_icon1" href="#/Public/StudentRegister"> تسجيل </a>
                </div>
                <div class="agileits-banner-grid">
                    <span class="fa fa-user-tie banner-icon" aria-hidden="true"></span>
                    <h4> معلم </h4>
                    <p>
                        يمكنك الآن الالتحاق بيوم الهمة كمعلم ومساعدتنا فى النهوض بالحفاظ  <br>
                        قم بالتسجيل الآن وشاركنا
                    </p>
                    <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenLoginModel(true,false,false)"> تسجيل</a>
                </div>
                <div class="agileits-banner-grid bg-w3ls-active">
                    <span class="fa fa-graduation-cap banner-icon" aria-hidden="true"></span>
                    <h4> الدار </h4>
                    <p>
                        يمكنك الان الالتحاق بيوم الهمة من اي مكان بالمملكة <br>
                        قم بالتسجيل الآن كي تستطيع اللحاق بنا
                    </p>
                    <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenLoginModel(true,true,false)"> تسجيل </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"> </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">ايام الهمة</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-card mt-card-round mt-element-overlay">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="mt-card-item">
                                <div class="mt-card-avatar mt-overlay-1">
                                    <img src="../assets/pages/img/avatars/team5.jpg" />
                                    <div class="mt-overlay">
                                        <ul class="mt-info">
                                            <li>
                                                <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                    <i class="icon-link"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mt-card-content">
                                    <h3 class="mt-card-name">Jennifer Lawrence</h3>
                                    <p class="mt-card-desc font-grey-mint">Creative Director</p>
                                    <div class="mt-card-social">
                                        <ul>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="mt-card-item">
                                <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                                    <img src="../assets/pages/img/avatars/team6.jpg" />
                                    <div class="mt-overlay mt-top">
                                        <ul class="mt-info">
                                            <li>
                                                <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                    <i class="icon-link"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mt-card-content">
                                    <h3 class="mt-card-name">Kate Beck</h3>
                                    <p class="mt-card-desc font-grey-mint">Executive Manager</p>
                                    <div class="mt-card-social">
                                        <ul>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="mt-card-item">
                                <div class="mt-card-avatar mt-overlay-1 mt-scroll-up">
                                    <img src="../assets/pages/img/avatars/team7.jpg" />
                                    <div class="mt-overlay">
                                        <ul class="mt-info">
                                            <li>
                                                <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                    <i class="icon-link"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mt-card-content">
                                    <h3 class="mt-card-name">Hugh Jackman</h3>
                                    <p class="mt-card-desc font-grey-mint">Human Resource</p>
                                    <div class="mt-card-social">
                                        <ul>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="mt-card-item">
                                <div class="mt-card-avatar mt-overlay-1 mt-scroll-left">
                                    <img src="../assets/pages/img/avatars/team8.jpg" />
                                    <div class="mt-overlay">
                                        <ul class="mt-info">
                                            <li>
                                                <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                    <i class="icon-link"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mt-card-content">
                                    <h3 class="mt-card-name">Gwen Parker</h3>
                                    <p class="mt-card-desc font-grey-mint">Finance Manager</p>
                                    <div class="mt-card-social">
                                        <ul>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/Public/OrganizeEvent">
                                                    <i class="icon-social-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- //about -->
    <!--services-->
   
    <!--//portfolio-->
