<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light testPadding">
       
                <div class="demo-inner-content">
                    <!--/header-w3l-->
                    <div class="overlay">  <h3>أهلا بك فى  <span> يوم الهمة </span> لمراجعة القران الكريم </h3>
                                        <p>وَفِي ذَٰلِكَ فَلْيَتَنَافَسِ الْمُتَنَافِسُونَ (26) </p></div>

                         <div id="myCarousel" class="carousel fade-carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                      <li data-target="#myCarousel" data-slide-to="1"></li>
                                      <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">

                                      <div class="item active">
                                        <img src="assets/images/b4.jpg" alt="Los Angeles" style="width:100%;">
                                        <div class="container">

                                        <div class="carousel-caption baner-info">
                                        
                                        </div>
                                                                                          </div>

                                      </div>

                                      <div class="item">
                                        <img src="assets/images/b2.jpg" alt="Chicago" style="width:100%;">
                                          <div class="container">
                                        <div class="carousel-caption baner-info">
                                      
                                        </div>
                                              </div>
                                      </div>

                                      <div class="item">
                                        <img src="assets/images/b2.jpg" alt="New York" style="width:100%;">
                                          
                                          <div class="container">
                                        <div class="carousel-caption baner-info">
                                     
                                        </div>
                                      </div>
                                        </div>
                                    </div>

                                   
                             
                                  </div>
                    <!--//header-w3l-->
                    
                  
                </div>
             
                <div id="projectFacts" class="sectionClass">
                    <div class="fullWidth eight columns">
                        <div class="projectFactsWrap ">
                            <div class="item wow fadeInUpBig animated animated" data-number="12" style="visibility: visible;">
                                <i class="fa fa-book"></i>
                                <p id="number1" class="number">12</p>
                                <span></span>
                                <p>عدد ايام الهمة </p>
                            </div>
                            <div class="item wow fadeInUpBig animated animated" data-number="55" style="visibility: visible;">
                                <i class="fa fa-group"></i>
                                <p id="number2" class="number">55</p>
                                <span></span>
                                <p>عدد الطلبة </p>
                            </div>
                            <div class="item wow fadeInUpBig animated animated" data-number="359" style="visibility: visible;">
                                <i class="fa fa-user"></i>
                                <p id="number3" class="number">359</p>
                                <span></span>
                                <p>عدد المعلمين</p>
                            </div>
                            <div class="item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                                <i class="fa fa-home"></i>
                                <p id="number4" class="number">246</p>
                                <span></span>
                                <p>عدد الدور</p>
                            </div>
                        </div>
                    </div>
                </div>



            <!--/banner-section-->
            <!--about -->
            <div id="about" class="wthree-about  about w3ls-section">
                
               <div class="container">
                            <h4 class="light bigFont">سجل معنا اللآن !</h4>
                          <div class="row">
                            <div class="col-sm-4 col-md-4">
                                
                                 <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenRegisterTeacherModel()"> 
                              <div class="do-item do-item-circle do-circle">
                                <img src="assets/images/teacher.png" class="do-item do-circle">
                                <div class="do-info-wrap do-circle">
                                  <div class="do-info">
                                    <div class="do-info-front do-circle"></div>
                                    <div class="do-info-back do-circle">
                                      <h3>تسجيل معلم</h3>
                                     
                                    </div>
                                  </div>
                                </div>
                              </div>
                                      </a> 
                                 <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenRegisterTeacherModel()"> 
                                    <h2>تسجيل معلم</h2>
                                </a>
                                <p>
                                    سجل الآن معانا حتي يمكنك الاشتراك كمعلم بايام الهمة ومساعدتنا فى النهوض بالحفاظ  <br>
                                    شاركنا الآن
                                </p>
                                
                                
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenRegisterEnterpriseModel()"> 
                                
                              <div class="do-item do-item-circle do-circle">
                                <img src="assets/images/dar.png" class="do-item do-circle">
                                <div class="do-info-wrap do-circle">
                                  <div class="do-info">
                                    <div class="do-info-front do-circle"></div>
                                    <div class="do-info-back do-circle">
                                      <h3>تسجيل دار</h3>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                                </a>
                                
                                <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenRegisterEnterpriseModel()"> 
                                    <h2>تسجيل دار</h2>
                                </a>
                                    <p>
                                    سجل الآن معنا <br> حتي يمكنك الاشتراك كدار<br> و ادارة ايام الهمة الخاصة بالدار بسهولة <br>
                                    شاركنا الآن
                                    </p>                                
                            </div>
                            <div class="col-sm-4 col-md-4">
                                
                                   <a class="hvr-rectangle-out w3_play_icon1" href="#/Public/StudentRegister"> 
                              <div class="do-item do-item-circle do-circle">
                                <img src="assets/images/student.png" class="do-item do-circle">
                                <div class="do-info-wrap do-circle">
                                  <div class="do-info">
                                    <div class="do-info-front do-circle"></div>
                                    <div class="do-info-back do-circle">
                                      <h3>تسجيل طالب</h3>
                               
                                    </div>
                                  </div>
                                </div>
                              </div>
                                </a>
                                
                                   <a class="hvr-rectangle-out w3_play_icon1" href="#/Public/StudentRegister"> 
                                    <h2>تسجيل طالب</h2>
                                </a>
                                 <p>
                                    يمكنك الان الالتحاق  بيوم الهمة  <br>
                                    قم بالاشتراك الآن كي تستطيع اللحاق معانا
                                </p>
                                
                                
                                
                            </div>
                         
                          </div>
                        
                
                
                
<!--
                <div class="container">
                    <div class="agileits-banner-grids text-center">
                        <div class="banner-bottom-girds">
                            <div class="agileits-banner-grid  m-grid-col-md-4	bg-w3ls-active">
                                <span class="fa fa-graduation-cap banner-icon" aria-hidden="true"></span>
                                <h4> طالب </h4>
                                <p>
                                    يمكنك الان الالتحاق  بيوم الهمة  <br>
                                    قم بالاشتراك الآن كي تستطيع اللحاق معانا
                                </p>
                                <a class="hvr-rectangle-out w3_play_icon1" href="#/Public/StudentRegister"> اشترك </a>
                            </div>
                            <div class="agileits-banner-grid m-grid-col-md-4">
                                <span class="fa fa-group banner-icon" aria-hidden="true"></span>
                                <h4> معلم </h4>
                                <p>
                                    سجل الآن معانا حتي يمكنك الاشتراك كمعلم بايام الهمة ومساعدتنا فى النهوض بالحفاظ  <br>
                                    شاركنا الآن
                                </p>
                                <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenRegisterTeacherModel()"> تسجيل</a>
                            </div>
                            <div class="agileits-banner-grid bg-w3ls-active m-grid-col-md-4">
                                <span class="fa fa-university banner-icon" aria-hidden="true"></span>
                                <h4> الدار </h4>
                                <p>
                                    سجل الآن معانا حتي يمكنك الاشتراك كدار و ادارة ايام الهمة الخاصة بالدار بسهولة <br>
                                    شاركنا الآن
                                </p>
                                <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenRegisterEnterpriseModel()"> تسجيل </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>

                </div>
-->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit ">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green bold uppercase">أيام الهمة</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-card mt-card-round mt-element-overlay">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mt-card-item">
                                            <div class="mt-card-avatar mt-overlay-1" style="     border-radius: 0%!important; ">
                                                <img src="assets/images/6.jpg" />
                                                <div class="mt-overlay">
                                                    <ul class="mt-info">
                                                        <li>
                                                            <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                                <i class="icon-magnifier"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                                <i class="icon-link"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-card-content">
                                                <h3 class="mt-card-name">يوم الهمة ا</h3>
                                                <p class="mt-card-desc font-grey-mint">مجمع حلقات الحزم</p>
                                                <div class="mt-card-social">
                                                    <ul>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mt-card-item">
                                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-down" style="     border-radius: 0%!important; ">
                                                <img src="assets/images/6.jpg" />
                                                <div class="mt-overlay mt-top">
                                                    <ul class="mt-info">
                                                        <li>
                                                            <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                                <i class="icon-magnifier"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                                <i class="icon-link"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-card-content">
                                                <h3 class="mt-card-name">يوم الهمة </h3>
                                                <p class="mt-card-desc font-grey-mint">دار الفتح </p>
                                                <div class="mt-card-social">
                                                    <ul>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mt-card-item">
                                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-up" style="     border-radius: 0%!important; ">
                                                <img src="assets/images/g1.jpg" />
                                                <div class="mt-overlay">
                                                    <ul class="mt-info">
                                                        <li>
                                                            <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                                <i class="icon-magnifier"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                                <i class="icon-link"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-card-content">
                                                <h3 class="mt-card-name">يوم الهمة </h3>
                                                <p class="mt-card-desc font-grey-mint">دار الهداية </p>
                                                <div class="mt-card-social">
                                                    <ul>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mt-card-item">
                                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-left" style="     border-radius: 0%!important; ">
                                                <img src="assets/images/g1.jpg" />
                                                <div class="mt-overlay">
                                                    <ul class="mt-info">
                                                        <li>
                                                            <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                                <i class="icon-magnifier"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="btn default btn-outline" href="#/Public/OrganizeEvent">
                                                                <i class="icon-link"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-card-content">
                                                <h3 class="mt-card-name">يوم الهمة </h3>
                                                <p class="mt-card-desc font-grey-mint">دار الامام البخاري </p>
                                                <div class="mt-card-social">
                                                    <ul>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#/Public/OrganizeEvent">
                                                                <i class="icon-social-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
            
          
            
            
            
            
    </div>
</div>
            <!-- //about -->
            <!--services-->
            <!--//portfolio-->
<script>
    
        
    
	$.fn.jQuerySimpleCounter = function( options ) {
	    var settings = $.extend({
	        start:  0,
	        end:    100,
	        easing: 'swing',
	        duration: 400,
	        complete: ''
	    }, options );

	    var thisElement = $(this);

	    $({count: settings.start}).animate({count: settings.end}, {
			duration: settings.duration,
			easing: settings.easing,
			step: function() {
				var mathCount = Math.ceil(this.count);
				thisElement.text(mathCount);
			},
			complete: settings.complete
		});
	};


$('#number1').jQuerySimpleCounter({end: 12,duration: 3000});
$('#number2').jQuerySimpleCounter({end: 55,duration: 3000});
$('#number3').jQuerySimpleCounter({end: 359,duration: 2000});
$('#number4').jQuerySimpleCounter({end: 246,duration: 2500});



  	/* AUTHOR LINK */
     $('.about-me-img').hover(function(){
            $('.authorWindowWrapper').stop().fadeIn('fast').find('p').addClass('trans');
        }, function(){
            $('.authorWindowWrapper').stop().fadeOut('fast').find('p').removeClass('trans');
        });
  
    

    
    </script>