
<!--/banner-bottom-->
<!--<div class="w3_agilits_banner_bootm">
    <div class="w3_agilits_inner_bottom">
        <div class="container">
            <div class="wthree_agile_login">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 009 455 4088</li>
                    <li><i class="fa fa-envelope-o list-icon" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>-->
<!--//banner-bottom-->
<!--/banner-section-->
<div class="testPadding">
    <div id="demo-1" data-zs-src='["images/b1.jpg","images/6.jpg","images/b2.jpg","images/b3.jpg","images/b4.jpg"]' data-zs-overlay="dots">
        <div class="demo-inner-content">
            <!--/header-w3l-->
            <!--<div class="header-w3-agileits" id="home">
                <div class="inner-header-agile">
                    <div class="container">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <img src="assets/images/logo.png" alt="ph">
                            </div>
                             navbar-header
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html">الرئيسية </a></li>
                                    <li><a href="#about" class="scroll">حول اليوم </a></li>
                                    <li><a href="#agileits-services" class="scroll">فروع البرنامج</a></li>
                                    <li><a href="#portfolio" class="scroll">الصور </a></li>
                                    <li><a href="#portfolio" class="scroll" ng-click="OpenLoginModel(false,undefined,true)">تسجيل دخول </a></li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </nav>
                    </div>
                </div>

            </div>-->
            <!--//header-w3l-->
            <!--/banner-info-->
            <div class="baner-info">
                <h3>أهلأ بك فى  <span> يوم الهمة </span> لمراجعة القران الكريم </h3>
                <p>وَفِي ذَٰلِكَ فَلْيَتَنَافَسِ الْمُتَنَافِسُونَ (26) </p>
            </div>
            <!--/banner-ingo-->
        </div>
    </div>
</div>

<!--/banner-section-->
<!--about -->
<div id="about" class="wthree-about w3ls-section">
    <div class="container">
        <div class="agileits-banner-grids text-center">
            <div class="banner-bottom-girds">
                <div class="agileits-banner-grid bg-w3ls-active">
                    <span class="fa fa-graduation-cap banner-icon" aria-hidden="true"></span>
                    <h4> طالب </h4>
                    <p>
                        يمكنك الان الالتحاق بيوم الهمة من اي مكان بالمملكة <br>
                        قم بالتسجيل الآن كي تستطيع اللحاق بنا
                    </p>
                    <a class="hvr-rectangle-out w3_play_icon1" href="#/Public/StudentRegister"> تسجيل </a>
                </div>
                <div class="agileits-banner-grid">
                    <span class="fa fa-user-tie banner-icon" aria-hidden="true"></span>
                    <h4> معلم </h4>
                    <p>
                        يمكنك الآن الالتحاق بيوم الهمة كمعلم ومساعدتنا فى النهوض بالحفاظ  <br>
                        قم بالتسجيل الآن وشاركنا
                    </p>
                    <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenLoginModel(true,false,false)"> تسجيل</a>
                </div>
                <div class="agileits-banner-grid bg-w3ls-active">
                    <span class="fa fa-graduation-cap banner-icon" aria-hidden="true"></span>
                    <h4> الدار </h4>
                    <p>
                        يمكنك الان الالتحاق بيوم الهمة من اي مكان بالمملكة <br>
                        قم بالتسجيل الآن كي تستطيع اللحاق بنا
                    </p>
                    <a class="hvr-rectangle-out w3_play_icon1" ng-click="OpenLoginModel(true,true,false)"> تسجيل </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <h2 class="w3ls-title">حول اليوم </h2>
        <div class="col-md-7  w3ls-about-left">
            <p>
                هو برنامج يهدف الى  تقوية ومراجعة المحفوظ من الطلاب واستغلال اوقات الطلاب بما يعود بالنفع والفائدة عليهم وتكوين معيار لضبط الكحفزظ من خلال القدرة على عرضه فى جلسة واحدة متصلة والعناية بالطلاب المتميزين بالحلقات
                هو برنامج يهدف الى  تقوية ومراجعة المحفوظ من الطلاب واستغلال اوقات الطلاب بما يعود بالنفع والفائدة عليهم وتكوين معيار لضبط الكحفزظ من خلال القدرة على عرضه فى جلسة واحدة متصلة والعناية
                هو برنامج يهدف الى  تقوية ومراجعة المحفوظ من الطلاب واستغلال اوقات الطلاب بما يعود بالنفع والفائدة عليهم وتكوين معيار لضبط الكحفزظ من خلال القدرة على عرضه فى جلسة واحدة متصلة والعناية
            </p>

        </div>
        <div class="col-md-5 w3ls-row">

            <div class="col-md-6 col-sm-6 w3ls-row alert wthree-about-right">
                <img src="assets/images/about3.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>

    </div>
</div>
<!-- //about -->
<!--services-->
<!--<div class="agileits-services w3ls-section" id="agileits-services">
    <div class="container">
        <h3 class="w3ls-title">فروع البرنامج  </h3>
        <div class="agileits-services-row">
            <div class="col-md-15 col-xs-3 agileits-services-grids">
                <span class="glyphicon glyphicon-stats effect-1" aria-hidden="true"></span>
                <h4>الفرع الاول </h4>
                <p>
                    25 جزء <br>
                    500 وجه
                </p>
            </div>
            <div class="col-md-15 col-xs-3 agileits-services-grids">
                <span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
                <h4>الفرع الثاني </h4>
                <p>
                    20 جزء <br>
                    400 وجه
                </p>

            </div>
            <div class="col-md-15 col-xs-3 agileits-services-grids">
                <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                <h4>الفرع الثالث </h4>
                <p>
                    15 جزء <br>
                    300 وجه
                </p>

            </div>
            <div class="col-md-15 col-xs-3 agileits-services-grids">
                <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                <h4>الفرع الرابع </h4>
                <p>
                    10 جزء <br>
                    200 وجه
                </p>

            </div>
            <div class="col-md-15 col-xs-3 agileits-services-grids">
                <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                <h4>الفرع الخامس </h4>
                <p>
                    5 جزء <br>
                    100 وجه
                </p>

            </div>


            <div class="clearfix"> </div>
        </div>
    </div>
</div>-->
<!--//agileits-services-->
<!--portfolio-->
<!--<div id="portfolio" class="portfolio w3ls-section">
    <div class="container">
        <h3 class="w3ls-title">الصور </h3>
        <div class="sap_tabs">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item"><span>الكل </span></li>
                    <li class="resp-tab-item"><span>اليوم الاول </span></li>
                    <li class="resp-tab-item"><span>اليوم الثانى  </span></li>
                    <li class="resp-tab-item"><span>اليوم الثالث </span></li>
                    <li class="resp-tab-item"><span>اليوم الرابع </span></li>
                </ul>
                <div class="clearfix"> </div>
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>الاول</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>الثاني</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>الثالث</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 portfolio-grids">
                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>TechEdu</h5>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--//portfolio-->