
<div class="row">
    <div class="col-md-12">
       
        
        
        
       
           <div class="col-md-12">
               <div class="row"> 
                
               
               
        <div class="main">
            
        
      
            
  <div class="container">
    
      
      
    <div class="content">
      
      
      <article class="video" data-post-date="April 6"><iframe width="100%" height="315" src="https://www.youtube.com/embed/b_WBm-3OPNs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h2 class="sticky"> يوم الهمة الاول تنظمه دار الفرقان </h2>
           <div class="location"><i class="fa fa-map-marker"></i><span>دار الفرقان,الرياض ,المملكة العربية السعودية</span></div>
            <div class="time"><i class="fa fa-clock-o"></i><span>18:00 CET - 22:00 CET</span></div>    
          
          
          
          
        <div class="art-text">
        
         <p>
 أنهى 800 طالب وطالبة 20 ختمة في يوم الهمة القرآني الرابع، الذي أقامته جمعية بشراكم الخيرية لتحفيظ القرآن الكريم بمنطقة الجوف، بجامع خادم الحرمين الشريفين، بمدينة سكاكا للقسم الرجالي, ودار السبيعي النسائية للقسم النسائي، بمشاركة 600 طالب و233 طالبة، ولمدة ثماني ساعات, حيث يكمن يوم الهمة القرآني بمراجعة ما تم حفظه خلال العام الدراسي الحالي، ليصبح أكثر من ثلاثة عشر ألف وجه، ما يقابل أكثر من 20 ختمة لكتاب الله عز وجل.</p>  
         <p>
 أنهى 800 طالب وطالبة 20 ختمة في يوم الهمة القرآني الرابع، الذي أقامته جمعية بشراكم الخيرية لتحفيظ القرآن الكريم بمنطقة الجوف، بجامع خادم الحرمين الشريفين، بمدينة سكاكا للقسم الرجالي, ودار السبيعي النسائية للقسم النسائي، بمشاركة 600 طالب و233 طالبة، ولمدة ثماني ساعات, حيث يكمن يوم الهمة القرآني بمراجعة ما تم حفظه خلال العام الدراسي الحالي، ليصبح أكثر من ثلاثة عشر ألف وجه، ما يقابل أكثر من 20 ختمة لكتاب الله عز وجل.</p>  </div>
       </article>
    </div>
    
    <aside >
      <div class="calendar">
        <div class="date-block">
                <div class="date-day">الثلاثاء</div>
                <div class="date-date">8</div>
                <span class="date-month">ابريل</span>,
                <span class="date-year">2019</span>
        </div>
        <div id="datepicker"></div>
      </div>
      
      <span id="debug"></span>
    
     
      
    </aside>
    
  </div>
  
</div>
           </div>
        </div>
        
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">البرنامج</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="agileits-services w3ls-section" id="agileits-services">
                    <div class="container">
                        <h3 class="w3ls-title">فروع البرنامج  </h3>
                        <div class="agileits-services-row">
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-stats effect-1" aria-hidden="true"></span>
                                <h4>الفرع الاول </h4>
                                <p>
                                    25 جزء <br>
                                    500 وجه
                                </p>
                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                               <!-- Create an icon wrapped by the fa-stack class -->
<span class="fa-stack">
    <!-- The icon that will wrap the number -->
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <!-- a strong element with the custom content, in this case a number -->
    <strong class="fa-stack-1x">
        2    
    </strong>
</span>
                                <h4>الفرع الثاني </h4>
                                <p>
                                    20 جزء <br>
                                    400 وجه
                                </p>

                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                                <h4>الفرع الثالث </h4>
                                <p>
                                    15 جزء <br>
                                    300 وجه
                                </p>

                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                                <h4>الفرع الرابع </h4>
                                <p>
                                    10 جزء <br>
                                    200 وجه
                                </p>

                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                                <h4>الفرع الخامس </h4>
                                <p>
                                    5 جزء <br>
                                    100 وجه
                                </p>

                            </div>


                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <!--//agileits-services-->
                <!--portfolio-->
                <div id="portfolio" class="portfolio w3ls-section">
                    <div class="container">
                        <h3 class="w3ls-title">الجدول الزمني لايام الهمة </h3>
                        
                        
                        
                       
                        <div class="sap_tabs">
                            <div id="horizontalTab">
                                <ul class="resp-tabs-list">
                                    <li class="resp-tab-item"><span>الكل </span></li>
                                    <li class="resp-tab-item"><span>اليوم الاول </span></li>
                                    <li class="resp-tab-item"><span>اليوم الثانى  </span></li>
                                    <li class="resp-tab-item"><span>اليوم الثالث </span></li>
                                    <li class="resp-tab-item"><span>اليوم الرابع </span></li>
                                </ul>
                                <div class="clearfix"> </div>
                                <div class="resp-tabs-container">
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الاول</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                    <p>gvdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdffg</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الثاني</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الثالث</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>