
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">البرنامج</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="agileits-services w3ls-section" id="agileits-services">
                    <div class="container">
                        <h3 class="w3ls-title">فروع البرنامج  </h3>
                        <div class="agileits-services-row">
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-stats effect-1" aria-hidden="true"></span>
                                <h4>الفرع الاول </h4>
                                <p>
                                    25 جزء <br>
                                    500 وجه
                                </p>
                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
                                <h4>الفرع الثاني </h4>
                                <p>
                                    20 جزء <br>
                                    400 وجه
                                </p>

                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                                <h4>الفرع الثالث </h4>
                                <p>
                                    15 جزء <br>
                                    300 وجه
                                </p>

                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                                <h4>الفرع الرابع </h4>
                                <p>
                                    10 جزء <br>
                                    200 وجه
                                </p>

                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                                <h4>الفرع الخامس </h4>
                                <p>
                                    5 جزء <br>
                                    100 وجه
                                </p>

                            </div>


                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <!--//agileits-services-->
                <!--portfolio-->
                <div id="portfolio" class="portfolio w3ls-section">
                    <div class="container">
                        <h3 class="w3ls-title">الجدول الزمني لايام الهمة </h3>
                        <div class="sap_tabs">
                            <div id="horizontalTab">
                                <ul class="resp-tabs-list">
                                    <li class="resp-tab-item"><span>الكل </span></li>
                                    <li class="resp-tab-item"><span>اليوم الاول </span></li>
                                    <li class="resp-tab-item"><span>اليوم الثانى  </span></li>
                                    <li class="resp-tab-item"><span>اليوم الثالث </span></li>
                                    <li class="resp-tab-item"><span>اليوم الرابع </span></li>
                                </ul>
                                <div class="clearfix"> </div>
                                <div class="resp-tabs-container">
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الاول</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الثاني</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الثالث</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>