<div class="row">
    <div class="col-md-12">
       
        
        
        
       
           <div class="col-md-12">
               <div class="row"> 
                
               
               
        <div class="main">
            
        
      
            
  <div class="container">
    
      
      
    <div class="content">
      
      
      <article class="video" data-post-date="April 6"><iframe width="100%" height="315" src="https://www.youtube.com/embed/b_WBm-3OPNs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h2 class="sticky"> يوم الهمة الاول تنظمه دار الفرقان </h2>
           <div class="location"><i class="fa fa-map-marker"></i><span>دار الفرقان,الرياض ,المملكة العربية السعودية</span></div>
            <div class="time"><i class="fa fa-clock-o"></i><span>18:00 CET - 22:00 CET</span></div>    
          
          
          
          
        <div class="art-text">
        
         <p>
 أنهى 800 طالب وطالبة 20 ختمة في يوم الهمة القرآني الرابع، الذي أقامته جمعية بشراكم الخيرية لتحفيظ القرآن الكريم بمنطقة الجوف، بجامع خادم الحرمين الشريفين، بمدينة سكاكا للقسم الرجالي, ودار السبيعي النسائية للقسم النسائي، بمشاركة 600 طالب و233 طالبة، ولمدة ثماني ساعات, حيث يكمن يوم الهمة القرآني بمراجعة ما تم حفظه خلال العام الدراسي الحالي، ليصبح أكثر من ثلاثة عشر ألف وجه، ما يقابل أكثر من 20 ختمة لكتاب الله عز وجل.</p>  
         <p>
 أنهى 800 طالب وطالبة 20 ختمة في يوم الهمة القرآني الرابع، الذي أقامته جمعية بشراكم الخيرية لتحفيظ القرآن الكريم بمنطقة الجوف، بجامع خادم الحرمين الشريفين، بمدينة سكاكا للقسم الرجالي, ودار السبيعي النسائية للقسم النسائي، بمشاركة 600 طالب و233 طالبة، ولمدة ثماني ساعات, حيث يكمن يوم الهمة القرآني بمراجعة ما تم حفظه خلال العام الدراسي الحالي، ليصبح أكثر من ثلاثة عشر ألف وجه، ما يقابل أكثر من 20 ختمة لكتاب الله عز وجل.</p>  </div>
       </article>
    </div>
    
    <aside >
      <div class="calendar">
        <div class="date-block">
                <div class="date-day">الثلاثاء</div>
                <div class="date-date">8</div>
                <span class="date-month">ابريل</span>,
                <span class="date-year">2019</span>
        </div>
        <div id="datepicker"></div>
      </div>
      
      <span id="debug"></span>
    
     
      
    </aside>
    
  </div>
  
</div>
           </div>
        </div>
        
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">البرنامج</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="agileits-services w3ls-section" id="agileits-services">
                    <div class="container">
                        <h3 class="w3ls-title">فروع البرنامج  </h3>
                        <div class="agileits-services-row">
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-stats effect-1" aria-hidden="true"></span>
                                <h4>الفرع الاول </h4>
                                <p>
                                    25 جزء <br>
                                    500 وجه
                                </p>
                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                               <!-- Create an icon wrapped by the fa-stack class -->
<span class="fa-stack">
    <!-- The icon that will wrap the number -->
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <!-- a strong element with the custom content, in this case a number -->
    <strong class="fa-stack-1x">
        2    
    </strong>
</span>
                                <h4>الفرع الثاني </h4>
                                <p>
                                    20 جزء <br>
                                    400 وجه
                                </p>

                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                                <h4>الفرع الثالث </h4>
                                <p>
                                    15 جزء <br>
                                    300 وجه
                                </p>

                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                                <h4>الفرع الرابع </h4>
                                <p>
                                    10 جزء <br>
                                    200 وجه
                                </p>

                            </div>
                            <div class="col-md-15 col-xs-3 agileits-services-grids">
                                <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                                <h4>الفرع الخامس </h4>
                                <p>
                                    5 جزء <br>
                                    100 وجه
                                </p>

                            </div>


                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <!--//agileits-services-->
                <!--portfolio-->
                <div id="portfolio" class="portfolio w3ls-section">
                    <div class="container">
                        <h3 class="w3ls-title">الجدول الزمني لايام الهمة </h3>
                        
                        <uib-tabset active="active">
                            <uib-tab index="$index" ng-repeat="DayPlan in EventPlane track by $index" ng-init="parentOrder=$index" heading="{{DayOrderEnum[$index+1]}}">
                                <div class="">
                                    <table class="table ng-table-responsive table-bordered table-striped col-md-12">

                                        <thead class="text-primary">
                                            <tr>
                                                <th class="col-md-2">رقم</th>
                                                <th class="col-md-2">الفقرة</th>
                                                <th class="col-md-2"> المقدم</th>
                                                <th class="col-md-2">من</th>
                                                <th class="col-md-2">الي</th>
                                                <th class="col-md-2">ملحوظات</th>
                                                <th class="col-md-2">الغاء </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="record in DayPlan.HemmaEventPlane track by $index">

                                                <td class="col-md-1"><span class="font-blue">{{$index+1}}</span></td>
                                                <td class="col-md-2">
                                                    <input type="text" name="{{parentOrder}}PlaneAgenda{{$index}}" placeholder="اسم الفقرة" ng-model="record.Agenda" class="font-blue col-xs-12" ng-required="true" /><!--{{parentOrder+'-'+$index}}-->
                                                    <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('form3','AddProgramPlane',{{parentOrder}}+'PlaneAgenda'+{{$index}}, 'required')">مطلوب اسم الفقرة</span>
                                                </td>
                                                <td class="col-md-2">
                                                    <input type="text" placeholder="اسم المقدم" name="{{parentOrder}}PlanePresenter{{$index}}" ng-model="record.Presenter" class="font-blue col-xs-12" ng-required="true" />
                                                    <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('form3','AddProgramPlane',{{parentOrder}}+'PlanePresenter'+{{$index}}, 'required')">مطلوب اسم المقدم الفقرة</span>
                                                </td>
                                                <td class="col-md-2">
                                                    <uib-timepicker class="col-md-6" name="{{parentOrder}}FromTime{{$index}}" ng-model="record.FromTime" minute-step="5" hour-step="1" ng-required="true"></uib-timepicker>
                                                    <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('form3','AddProgramPlane',{{parentOrder}}+'FromTime'+{{$index}}, 'required')">مطلوب اختيار الوقت</span>

                                                </td>
                                                <td class="col-md-2">
                                                    <uib-timepicker class="col-md-6" name="{{parentOrder}}ToTime{{$index}}" ng-model="record.ToTime" minute-step="5" hour-step="1" show-meridian="true" ng-required="true"></uib-timepicker>
                                                    <!--<p>{{record.ToTime| date:'short'}}</p>-->
                                                    <span id="url2-error" class="font-red-mint error" ng-show="edit1 && hasError('form3','AddProgramPlane',{{parentOrder}}+'ToTime'+{{$index}}, 'required')">مطلوب اختيار الوقت</span>

                                                </td>
                                                <td class="col-xs-2">
                                                    <input type="text" placeholder="ملحوظات" name="{{parentOrder}}PlaneNote{{$index}}" class="font-blue col-xs-12" ng-model="record.Note" />
                                                </td>
                                                <td class="col-xs-2">
                                                    <input type="hidden" class="font-blue col-xs-12" ng-hide="true" ng-model="record.AgendaIndex" ng-init="record.AgendaIndex=$index+1" />
                                                    <input type="hidden" class="font-blue col-xs-12" ng-hide="true" ng-model="record.EventDate" ng-init="record.EventDate=DayPlan.EventDate" />
                                                    <input type="hidden" class="font-blue col-xs-12" ng-hide="true" ng-model="record.EventDateHijri" ng-init="record.EventDateHijri=DayPlan.EventHijriDate" />
                                                    <a href="#" ng-hide="hideRemovePlaneButton" ng-click="removePlaneRecord('EventPlane',parentOrder,$index)"><span class="glyphicon glyphicon-remove"></span></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-2" colspan="6"><a ng-hide="hideAddPlaneButton" href="#" ng-click="AddPlaneRecord('EventPlane',5,parentOrder)"><span class="glyphicon glyphicon-plus"></span></a></td>
                                            </tr>
                                    </table>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                        
                       
                        <div class="sap_tabs">
                            <uib-tabset active="active">
                                <uib-tab index="1" heading="اليوم الاول">
                                    <div class="">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الاول</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                    <p>gvdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdffg</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الثاني</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الثالث</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="1" heading="اليوم الاول">
                                    <div class="">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="1" heading="اليوم الاول">
                                    <div class="">
                                        <table class="table ng-table-responsive table-bordered table-striped col-md-12">

                                            <thead>
                                                <tr>
                                                    <th class="col-md-2">رقم</th>
                                                    <th class="col-md-2">الفقرة</th>
                                                    <th class="col-md-2"> المقدم</th>
                                                    <th class="col-md-2">من</th>
                                                    <th class="col-md-2">الي</th>
                                                    <th class="col-md-2">ملحوظات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td class="col-md-1"><span>{{$index+1}}</span></td>
                                                    <td class="col-md-2">
                                                        الفقرة الاولي 
                                                    </td>
                                                    <td class="col-md-2">
                                                        الشيخ الحمد
                                                    </td>
                                                    <td class="col-md-2">
10:30 AM
                                                    </td>
                                                    <td class="col-md-2">
                                                       1:00 PM

                                                    </td>
                                                    <td class="col-xs-2">
                                                        التجمع في الساحة الكبيرة
                                                    </td>
                                                  
                                                </tr>
                                                <tr>

                                                    <td class="col-md-1"><span >2</span></td>
                                                    <td class="col-md-2">
                                                        الفقرة الاولي
                                                    </td>
                                                    <td class="col-md-2">
                                                        الشيخ الحمد
                                                    </td>
                                                    <td class="col-md-2">
                                                        10:30 AM
                                                    </td>
                                                    <td class="col-md-2">
                                                        1:00 PM

                                                    </td>
                                                    <td class="col-xs-2">
                                                        التجمع في الساحة الكبيرة
                                                    </td>

                                                </tr>
                                                <tr>

                                                    <td class="col-md-1"><span>3</span></td>
                                                    <td class="col-md-2">
                                                        الفقرة الاولي
                                                    </td>
                                                    <td class="col-md-2">
                                                        الشيخ الحمد
                                                    </td>
                                                    <td class="col-md-2">
                                                        10:30 AM
                                                    </td>
                                                    <td class="col-md-2">
                                                        1:00 PM

                                                    </td>
                                                    <td class="col-xs-2">
                                                        التجمع في الساحة الكبيرة
                                                    </td>

                                                </tr>
                                               
                                        </table>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                            <!--<div id="horizontalTab">
                                <ul class="resp-tabs-list">
                                    <li class="resp-tab-item"><span>الكل </span></li>
                                    <li class="resp-tab-item"><span>اليوم الاول </span></li>
                                    <li class="resp-tab-item"><span>اليوم الثانى  </span></li>
                                    <li class="resp-tab-item"><span>اليوم الثالث </span></li>
                                    <li class="resp-tab-item"><span>اليوم الرابع </span></li>
                                </ul>
                                <div class="clearfix"> </div>
                                <div class="resp-tabs-container">
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الاول</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                    <p>gvdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdffg</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الثاني</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>الثالث</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content">
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 portfolio-grids">
                                            <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                                <img src="assets/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                                <div class="b-wrapper">
                                                    <h5>TechEdu</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>