<div class="registerModel modal-dialog">
    <div class="modal-header">
        <div class="portlet-title">
            <div>
                <button type="button" class="close" data-dismiss="modal" ng-click="CloseModel()">&times;</button>
            </div>
            <div class="caption font-red-sunglo font-lg">

                <span class="caption-subject bold uppercase">تسجيل جديد كمؤسسة </span>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form" name="addEnterpriseForm" novalidate autocomplete="off">
            <div class="modal-body modelBody">
                <div class="row">
                    <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                        <div class="input-group col-xs-12">
                            <input type="text" ng-model="newEnterpriseObj.UserName" class="form-control" name="entrpriseName" placeholder="ادخل اسم الدار ......" required ng-minlength="3" ng-maxlength="100">
                            <label for="form_control_1">اسم المؤسسة<span class="font-red-mint">*</span></label>

                        </div>
                        <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(addEnterpriseForm,'entrpriseName', 'required' )">مطلوب ادخال اسم الدار</span>
                        <!--<span id="url2-error" class="font-red-mint error" ng-show="hasError(addEnterpriseForm,'entrpriseName', 'pattern' )">مطلوب ادخال حروف فقط بدون ارقام </span>-->
                        <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(addEnterpriseForm,'entrpriseName', 'minlength' )">مطلوب ادخال اسم لا يقل عن ثلاث حروف </span>
                        <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(addEnterpriseForm,'entrpriseName', 'maxlength' )">مطلوب ادخال اسم لا يزيد عن مئة حرف </span>
                    </div>
                    <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                        <div class="input-group col-xs-12">
                            <input type="text" ng-model="newEnterpriseObj.PhoneNumber" class="form-control" name="enterprisePhoneNumber" placeholder="ادخل رقم الجوال ......" required>
                            <label for="form_control_1">رقم الجوال<span class="font-red-mint">*</span></label>
                        </div>
                        <span id="url2-error" class="error font-red-mint" ng-show="edit && hasError(addEnterpriseForm,'enterprisePhoneNumber', 'required' )">مطلوب إدخال رقم الجوال</span>
                    </div>
                    <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                        <div class="input-group col-xs-12">
                            <input type="email" ng-model="newEnterpriseObj.UserEmail" class="form-control" name="enterpriseEmail" placeholder="ادخل البريد الالكتروني ......" required autocomplete="email">
                            <label for="form_control_1">البريد الالكتروني<span class="font-red-mint">*</span></label>

                        </div>
                        <span id="url2-error" class="error font-red-mint" ng-show="edit && hasError(addEnterpriseForm,'enterpriseEmail', 'required' )">مطلوب إدخال البريد الالكتروني</span>
                        <span id="url2-error" class="error font-red-mint" ng-show="edit && hasError(addEnterpriseForm,'enterpriseEmail', 'email' )">  البريد الالكتروني غير  مطابق للتنسيق مثال :example@gmail.com </span>
                    </div>
                    <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                        <div class="input-group col-xs-12">
                            <input type="password" ng-model="newEnterpriseObj.UserPassword" class="form-control" name="enterprisePassword" placeholder="ادخل رقم الهوية ......" required ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="current-password">
                            <label for="form_control_1">ادخل كلمة المرور<span class="font-red-mint">*</span></label>

                        </div>
                        <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(addEnterpriseForm,'enterprisePassword', 'required' )">مطلوب إدخال كلمة المرور</span>
                        <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(addEnterpriseForm,'enterprisePassword', 'pattern' )">كلمة المرور عبارة عن احرف انجليزية تحتوي علي ارقام وحروف كبيرة وصغيرة ولا تقل عن 6 احرف مثال:Hemma123 </span>
                    </div>
                    <div class="form-group form-md-line-input has-info col-md-10 footerBtn">
                        <div class="input-group col-xs-12">
                            <input type="password" ng-model="newEnterpriseObj.ConfirmPassword" class="form-control" name="enterpriseConfirmPassword" placeholder="ادخل كلمة المرور ......" required ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="new-password" compare-to="newEnterpriseObj.UserPassword">
                            <label for="form_control_1">تاكيد كلمة المرور<span class="font-red-mint">*</span></label>

                        </div>
                        <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(addEnterpriseForm,'enterpriseConfirmPassword', 'required' )">مطلوب إدخال تاكيد كلمة المرور</span>
                        <span id="url2-error" class="font-red-mint error" ng-show="edit && hasError(addEnterpriseForm,'enterpriseConfirmPassword', 'pattern' )">كلمة المرور يجب ان تحتوي علي الاقل حرف كبير  و حرف صغير و رقم ولا تقل عن ستة احرف </span>
                        <span id="url2-error" class="font-red-mint error" ng-show="hasError(addEnterpriseForm,'enterpriseConfirmPassword', 'compareTo' )">تاكيد كلمة المرور غير مطابقة لكلمة المرور الاصلية </span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="alert alert-danger col-md-10 footerBtn" ng-if="ErrorMessage.length>0 && ShowMessage==true">
                    <p ng-repeat="msg in ErrorMessage track by $index">{{msg}}</p>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-right footerBtn" ng-click="saveData(addEnterpriseForm.$valid,true,newEnterpriseObj)" ng-disabled="showLoader">  تسجيل جديد كمؤسسة</button>
            </div>
        </form>
    </div>
</div>

