<style>
    body{
background-color: #fff; 
    height: 100%;
    }
    .portlet>.portlet-title{
            border-bottom: 0px;
    }
    
    .page-footer{
        margin-top: 178px;
    }
</style>



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-red-sunglo font-lg">
                    <span class="caption-subject bold uppercase"> حول اليوم </span>
                </div>
            </div>
            <div class="portlet-body form">
        <div class="col-md-7  w3ls-about-left">
            <p>
                هو برنامج يهدف الى  تقوية ومراجعة المحفوظ من الطلاب واستغلال اوقات الطلاب بما يعود بالنفع والفائدة عليهم وتكوين معيار لضبط الكحفزظ من خلال القدرة على عرضه فى جلسة واحدة متصلة والعناية بالطلاب المتميزين بالحلقات
                هو برنامج يهدف الى  تقوية ومراجعة المحفوظ من الطلاب واستغلال اوقات الطلاب بما يعود بالنفع والفائدة عليهم وتكوين معيار لضبط الكحفزظ من خلال القدرة على عرضه فى جلسة واحدة متصلة والعناية
                هو برنامج يهدف الى  تقوية ومراجعة المحفوظ من الطلاب واستغلال اوقات الطلاب بما يعود بالنفع والفائدة عليهم وتكوين معيار لضبط الكحفزظ من خلال القدرة على عرضه فى جلسة واحدة متصلة والعناية
            </p>

        </div>
        <div class="col-md-5 w3ls-row">

            <div class="col-md-6 col-sm-6 w3ls-row alert wthree-about-right">
                <img src="assets/images/about3.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
            </div>
        </div>
    </div>
</div>
