
<div class="panel panel-body">
    <h1>اهلا وسهلا بكم في يوم الهمة الاول</h1>
    <p>
        اتسعدوا لمراجعه ما حفظتم من القران
    </p>
</div>
<div class="row">
    <div class="col-xs-4 thumbnail">
        <a href="#/Public/StudentRegister"> Register Student</a>
    </div>
    <div class="col-xs-4 color-blue thumbnail" href="#/Public/Login">
        <a> Register teacher</a>
    </div>
    <div class="col-xs-4 color-blue thumbnail" href="#/Public/Login">
        <a> Register Enterprise</a>
    </div>
</div>
