<div class="header-w3-agileits" id="home">
    <div class="inner-header-agile">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="assets/images/logo.png" alt="ph">
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#/Home">الرئيسية </a></li>
                        <li><a ng-click="RedirectToAbout()" class="scroll">حول اليوم </a></li>
                        <li><a href="#agileits-services" class="scroll">فروع البرنامج</a></li>
                        <li><a href="#portfolio" class="scroll">الصور </a></li>
                        <li ng-if="user==undefined"><a class="scroll" ng-click="OpenLoginModel(false,undefined,true)">تسجيل دخول </a></li>
                        <li ng-if="user && user!=undefined && user!=null" &&><a class="scroll" ng-click="Logout()">تسجيل خروج </a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
</div>