
<div class="header-w3-agileits" id="home1">
    <div class="inner-header-agile">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <div class="pull-right">
                        <ul class="nav pull-right">
                            <li><a class="scroll" ng-show="user==undefined" ng-click="OpenLoginModel()">تسجيل دخول </a></li>



                            <!--<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">مرحبا , مستخدم <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
                                    <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/auth/logout"><i class="icon-off"></i> تسجيل خروج </a></li>
                                </ul>
                            </li>-->

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">مرحبا , {{user.UserName}} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="feature in features track by $index"><a><i class="{{feature.MenuIcon}}"></i> {{feature.FeatureNameAr}}</a>
                                    <!--<ul ng-repeat="right in feature.Rights track by $index">
                                        <li></li>
                                    </ul>-->
                                    </li>                                
                                    <li class="divider"></li>
                                    <li><a ng-click="LogoutFunction()"><i class="icon-signout"></i>تسجيل خروج</a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
</div>

















<div class="header-w3-agileits" id="home">
    <div class="inner-header-agile">
        <div class="container">
            <nav class="navbar navbar-default ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="assets/images/logo.png" alt="ph">
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                    <ul class="nav navbar-nav">
                        <li><a href="#/Home">الرئيسية </a></li>
                        <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">الملف الشخصي</span> <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                <li><a href="#">ملئ البيانات الأساسية</a></li>
                <li><a href="#">ادارة حساب المستخدم</a></li>
                <li><a href="#">اضافة يوم همة </a></li>
             
                            </ul>
                      </li>
                        
                            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">شئون طلاب </span> <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                <li><a href="#">ملئ البيانات الأساسية</a></li>
                <li><a href="#">ادارة حساب المستخدم</a></li>
                <li><a href="#">اضافة يوم همة </a></li>
             
                            </ul>
                      </li>
                        
                         <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">شئون تعليمية </span> <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                <li><a href="#">ملئ البيانات الأساسية</a></li>
                <li><a href="#">ادارة حساب المستخدم</a></li>
                <li><a href="#">اضافة يوم همة </a></li>
             
                            </ul>
                      </li>
                         <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">التقارير  </span> <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                <li><a href="#">ملئ البيانات الأساسية</a></li>
                <li><a href="#">ادارة حساب المستخدم</a></li>
                <li><a href="#">اضافة يوم همة </a></li>
             
                            </ul>
                      </li>
                        
                        
                    </ul>

                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
</div>

